[submodule "myblog/themes/holy"]
	path = myblog/themes/holy
	url = https://github.com/serkodev/holy.git
[submodule "myblog/public"]
	path = myblog/public
	url = https://github.com/magnitized/magnitized.github.io.git
	branch = main
[submodule "myblog/neverm0r.github.io"]
	path = myblog/neverm0r.github.io
	url = https://github.com/neverm0r/neverm0r.github.io
	branch = main
[submodule "myblog/neverm0r"]
	path = myblog/neverm0r
	url = https://github.com/neverm0r/neverm0r.github.io
	branch = main
